body{
  background-image: url(fuummy.jpg);
  font-family: Arial, sans-serif;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.business-card{
  width: 300px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-top: 100px;
  text-align: center;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

.profile-image{
  max-width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
    color: royalblue;
}